{% extends "AppCoder/padre.html" %}
{% load static %}
{% block titulo %}
<h1 class="mb-5">FORMULARIO Imagenes</h1>
{% endblock %}
{% block contenidoQueCambia %}   
  <center>
    <h1>Imagenes</h1>
  
    {% if miFormulario.errors %}
        <p style="color: red">{{miFormulario.errors}}</p>
    {% endif %}
    
    <form action="{% url 'imagenes' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
        
        <table>
            {{miFormulario.as_p}}
        </table>
        <input type="submit" value="Enviar">
    </form>
  </center>

{% endblock %}
