{% extends "AppCoder/padre.html" %}
{% load static %}
{% block titulo %}
<h1 class="mb-5">Leer Profes</h1>
{% endblock %}
{% block contenidoQueCambia %}   
    
    <center>
        {% for profesor in profesores %}
      
           <li>
            {{profesor.nombre}}
            {{profesor.apellido}}
           </li>
            <button>
                <a href="{% url 'eliminarProfesor' profesor.nombre%}">Eliminar Profe</a>
                
            </button>
            <button>
                <a href="{% url 'editarProfesor' profesor.nombre%}">Editar Profe</a>
            </button>
            <button>
                <a href="{% url 'buscarProfesorID' profesor.id%}">Ver Profe</a>
            </button>
            <br>
            <br>
    {% endfor %}
     <br>       
    <a href="{% url 'profesores' %}">Agregar más profesores</a>
    </center>
     
    
        
{% endblock %}