{% extends "AppCoder/padre.html" %}
{% load static %}
{% block titulo %}
<h1 class="mb-5">Leer Profes</h1>
{% endblock %}
{% block contenidoQueCambia %}   
    
    <center>
        {% for profesor in profesores %}
      
           <li>
            {{profesor.nombre}}
            {{profesor.apellido}}
           </li>
            <button>
                <a href="{% url 'eliminarProfesor' profesor.nombre%}">Eliminar Profe</a>
                
            </button>
            
            <button>
              <a class="open-incident" href="{% url 'editarProfesor' profesor.nombre %}" data-popup-url="{% url 'editarProfesor' profesor.nombre %}">Editar</a>
            </button>
            <button>
                <a  class="open-incident" href="{% url 'buscarProfesorID' profesor.id%}" data-popup-url="{% url 'buscarProfesorID' profesor.id %}">Ver Profe</a>
            </button>
            <br>
            <br>
            
    {% endfor %}
     <br>       
    <a class="open-incident" href="{% url 'profesores' %} " data-popup-url="{% url 'profesores' %}">Agregar más profesores</a>
    </center>
  
    <div id="popup" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-body"></div>
          <div class="modal-footer">
            
            <button type="button" class="btn btn-info" data-bs-dismiss="modal">Close
            </button>
          </div>
        </div>
      </div>
    </div>
 

{% endblock %}
{% block extraJS %}

<!-- To place above the incident-modal html -->
<script>
  $(document).on("click", ".open-incident", function (e) {
    e.preventDefault();
    var $popup = $("#popup");
    var popup_url = $(this).data("popup-url");
    $(".modal-body", $popup).load(popup_url, function () {
      $popup.modal("show");
    });
  });

 

</script>
{% endblock extraJS %}